body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Mengatur tinggi viewport agar konten berada di tengah vertikal */
    margin: 0;
    /* Menghilangkan margin default */
    text-align: center;
    /* Mengatur teks agar berada di tengah */
    background-color: rgb(139, 171, 223)
}

h1 {
    font-size: 3rem;
    /* Ukuran font untuk h1 */
    font-weight: bold;
    /* Membuat h1 menjadi tebal */
    padding-top: 170px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 2rem;
    /* Ukuran font untuk p */
    margin-top: 10px;
    /* Jarak atas untuk p */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

footer {
    background-color: rgb(21, 95, 156);/* warna latar belakang footer */
    color: white; /* warna teks footer */
    padding: 20px 0; /* ruang di sekitar teks footer */
    margin-top: 170px; /* Jarak atas dari paragraf terakhir */
  }
  
  footer p {
    margin-bottom: 0; /* menghapus margin bawah pada paragraf dalam footer */
    color: #ccc; /* warna font pada teks paragraf dalam footer */
    font-size: 25px;
  }
  
  footer .py-3 {
    padding-top: 1rem; /* tambahkan ruang atas pada div dengan kelas py-3 */
    padding-bottom: 1rem; /* tambahkan ruang bawah pada div dengan kelas py-3 */
  }